#ah-footer
  .footer-group
    h3.footer-title 博客文章
    .footer-links
      a.footer-item(href='/archives/', data-pjax-state='') 全部文章
      a.footer-item(href='/tags/', data-pjax-state='') 文章标签
      a.footer-item(href='/categories/', data-pjax-state='') 文章分类

  .footer-group
    h3.footer-title 学习笔记
    .footer-links
      a.footer-item(href='/categories/C/', data-pjax-state='') C 语言
      a.footer-item(href='/categories/Python/', data-pjax-state='') Python
      a.footer-item(href='/categories/深度学习/', data-pjax-state='') 深度学习

  .footer-group
    h3.footer-title 博客链接
    .footer-links
      a.footer-item(href='/link/', data-pjax-state='') 友情链接
      a.footer-item(href='/essay/', data-pjax-state='') 闲言碎语

  .footer-group
    h3.footer-title 关于本站
    .footer-links
      a.footer-item(href='/about/', data-pjax-state='') 关于博主
      a.footer-item(href='/cc/', data-pjax-state='') 版权协议

#footer-wrap
#fotter-copyright(style='font-size:100%')
  .copyrights
    span= _p('Copyright © 2022 Beidaos. ')
    span= _p(' All rights reserved.')
  .framework-info
    span= _p('Powered by') + ' '
    a(href='https://hexo.io') Hexo
    span.footer-separator &
    a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
