@font-face {
font-family: 'iconfont';
src: url('/fonts/iconfont.eot');
src: url('/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
     url('/fonts/iconfont.woff2') format('woff2'),
     url('/fonts/iconfont.woff') format('woff'),
     url('/fonts/iconfont.ttf') format('truetype'),
     url('/fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gonggaopai:before {
  content: "\e61f";
}

.icon-aliyun:before {
  content: "\ee48";
}

.icon-bilibili:before {
  content: "\e606";
}

.icon-kongzhitai:before {
  content: "\e608";
}

.icon-qiehuankapian:before {
  content: "\e664";
}

.icon-github-mark:before {
  content: "\e600";
}

.icon-biaoqiantags3:before {
  content: "\e658";
}

.icon-dropboxdropbox4:before {
  content: "\e734";
}

.icon-Tags:before {
  content: "\e607";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-zuozhe:before {
  content: "\e65c";
}

